.payment-component-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50%;
  }
  
  .payment-button {
    display: inline-flex;
    text-decoration: none;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Ajuste o tamanho conforme necessário */
    padding: 5px;
    background: #f7f7f7;
    border-radius: 50%;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .button {
    display: flex;
    align-items: center;
  }
  